<li>
  <%= gravatar_for user, size: Settings.digit_50 %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
  | <%= link_to t("delete"), user, data: { "turbo-method": :delete,turbo_confirm: t("are_you_sure") }%>
  <% end %>
</li>
