@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

/* Dropdown menu */

.dropdown-menu.active {
    display: block;
}

/* buttons */
button.btn.logout{
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 3px 20px;

    &:hover {
      background-color: #f5f5f5;
    }
}
